export(import_XML)
export(clustering)
export(plot_heatmap)
export(plot_umap)
export(plot_rag)
export(plot_violin)
export(Apply_TMate_Filter)
export(plot_pie)
S3method(plot, MigrDat)
importFrom(data.table, ":=","copy","setorder","set","rbindlist","data.table")
importFrom(XML,"xmlGetAttr","getNodeSet","xmlParse","xpathSApply")
importFrom(xml2,"read_xml","xml_text","xml_find_all")
importFrom(ggplot2,"ggplot","aes_string","scale_color_manual","geom_point","geom_tile","labs","theme","element_rect","element_blank","scale_fill_manual","geom_violin","theme_classic")
importFrom(pals,"alphabet")
importFrom(rlang,"enquo","is_quosure")
importFrom(grDevices, "colorRampPalette")
importFrom(graphics, "lines", "points", "legend")
importFrom(methods, "new", "slot", "slotNames")
importFrom(stats, "cutree", "dist", "heatmap", "kmeans", "median", "sd")
importFrom(utils, "type.convert")
importFrom(grDevices, "adjustcolor")
importFrom(graphics, "pie")
importFrom(pheatmap, "pheatmap")
