export(import_XML)
export(clustering)
export(plot_heatmap)
export(plot_tsne)
export(plot_umap)
export(plot_rag)
export(plot_violin)
S3method(plot, MigrDat)
importFrom(data.table, ":=")
importFrom("grDevices", "colorRampPalette")
  importFrom("graphics", "lines", "points", "legend")
  importFrom("methods", "new", "slot", "slotNames")
  importFrom("stats", "cutree", "dist", "heatmap", "kmeans", "median",
             "sd")
importFrom("utils", "type.convert")
